{% extends 'base.html' %}

{% block content %}

<section>
    <h3 class="title">Featured Products</h3>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4">

        {% for product in featured_product_list %}

        <div class="col card">
            <div class="card-body">
                <h4 class='product_item_name'>{{ product.name }}</h4>
                <h5 class="product_item_price">
                    ${{ product.price }}

                    {% if product.featured %}

                    <span class="badge badge-warning">Featured</span>
                    
                    {% endif %}
                </h5>
                <h6 class="product_item_category">{{ product.category|capfirst }}</h6>
                <p class="product_item_description">
                    {{ product.description }}
                </p>
            </div>
        </div>

        {% endfor %}

    </div>
</section>

<section>
    <h3 class="title">Popular Categories</h3>
    <div class="list-group list-group-horizontal">

        {% for category in featured_categories %}

        <a href="products?category={{ category|lower }}" class="list-group-item list-group-item-action bg-primary text-white">{{ category }}</a>

        {% endfor %}

    </div>
</section>

<section>
    <h3 class="title">Amazing Bundles</h3>
</section>

{% endblock content %}