{% extends 'base.html' %}

{% block content %}

<section class="row search">
    <div class="col">
        <button class="btn btn-primary filter-button"><i class="fas fa-filter"></i></button>
        <input type="text" placeholder="search" class="search-bar">
    </div>
</section>

<section class="row product_section">
    <aside class="col col-sm-4 col-md-3 col-xl-2 side-filter">
        <h3 class="title">Category</h3>
        <ul>
            <li>
                <input type="checkbox" id="checkbox_tables" onclick="categorySelect(this.id)">
                <label for="checkbox_tables">Tables</label>
            </li>
            <li>
                <input type="checkbox" id="checkbox_chairs" onclick="categorySelect(this.id)">
                <label for="checkbox_chairs">Chairs</label>
            </li>
            <li>
                <input type="checkbox" id="checkbox_lights" onclick="categorySelect(this.id)">
                <label for="checkbox_lights">Lights</label>
            </li>
        </ul>

        <h3 class="title">Material</h3>
        <ul>
            <li>
                <input type="checkbox" id="checkbox_wood" checked>
                <label for="checkbox_wood">Wood</label>
            </li>
            <li>
                <input type="checkbox" id="checkbox_stone" checked>
                <label for="checkbox_stone">Stone</label>
            </li>
            <li>
                <input type="checkbox" id="checkbox_metal" checked>
                <label for="checkbox_metal">Metal</label>
            </li>
        </ul>

        <h3 class="title">Sort</h3>
        <ul>
            <li>
                <input type="radio" id='radio_az' name='letter_sort' onclick="toggleLetterOrder(this.id)">
                <label for="radio_az">A-Z</label>
            </li>
            <li>
                <input type="radio" id='radio_za' name='letter_sort' onclick="toggleLetterOrder(this.id)">
                <label for="radio_za">Z-A</label></li>
            <li>
                <input type="radio" id='radio_low' name='price_sort'>
                <label for="radio_low">Low-High</label>
            </li>
            <li>
                <input type="radio" id='radio_high' name='price_sort'>
                <label for="radio_high">High-Low</label>
            </li>
        </ul>
    </aside>

    <section class="col row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 product_item_section">

        {% for product in product_list %}

        <div class="col card product-card">
            <div class="card-body">
                <h4 class='product_item_name'>{{ product.name }}</h4>
                <h5 class="product_item_price">
                    ${{ product.price }}

                    {% if product.featured %}

                    <span class="badge badge-warning">Featured</span>

                    {% endif %}
                </h5>
                <h6 class="product_item_category">{{ product.category|capfirst }}</h6>
                <p class="product_item_description">
                    {{ product.description }}
                </p>
            </div>
            <div class="button_div">
                <a href="{% url 'products_add_to_cart' product.name %}" class="btn btn-primary cart-button">Add to Cart</a>
            </div>
        </div>

        {% endfor %}

    </section>
</section>

{% endblock content %}