{% extends 'base.html' %}

{% load static %}

{% block content %}

<section class="main-section product-section">
    <div class="product-filter-div">
        <div class="product-filter">
            <div class="product-filter-category">
                <button class="product-filter-button">Filter Products</button>
                <ul id="filter-list" class="product-filter-list">
                    <li>
                        <input type="checkbox" id="tables" name="category-select" onclick="categorySelect(this.id)">
                        <label for="tables">Tables</label>
                    </li>
                    <li>
                        <input type="checkbox" id="chairs" name="category-select" onclick="categorySelect(this.id)">
                        <label for="chairs">Chairs</label>
                    </li>
                    <li>
                        <input type="checkbox" id="lights" name="category-select" onclick="categorySelect(this.id)">
                        <label for="lights">Lights</label>
                    </li>
                </ul>
            </div>

            <div class="product-sort">
                <button class="product-filter-button">Sort Products</button>
                <ul id="sort-list" class="product-filter-list">
                    <li>
                        <input type="radio" id='radio_az' name='letter_sort' onclick="toggleLetterOrder(this.id)">
                        <label for="radio_az">A-Z</label>
                    </li>
                    <li>
                        <input type="radio" id='radio_za' name='letter_sort' onclick="toggleLetterOrder(this.id)">
                        <label for="radio_za">Z-A</label></li>
                    <li>
                        <input type="radio" id='radio_low' name='price_sort'>
                        <label for="radio_low">Low-High</label>
                    </li>
                    <li>
                        <input type="radio" id='radio_high' name='price_sort'>
                        <label for="radio_high">High-Low</label>
                    </li>
                </ul>
            </div>
        </div>
        <div class="product-search">
            <button class="filter-button" style="display:none;"><i class="fas fa-filter"></i></button>
            <input type="text" placeholder="search" class="search-bar">
        </div>
    </div>

    <div class="product-item-section">

        {% for product in product_list %}

        <div class="product-card">
            <div class="">
                <h4 class="">{{ product.name }}</h4>
                <h5 class="">
                    ${{ product.price }}

                    {% if product.featured %}

                    <span class="">Featured</span>

                    {% endif %}
                </h5>
                <h6 class="product_item_category">{{ product.category|capfirst }}</h6>
                <p class="product_item_description">
                    {{ product.description }}
                </p>
            </div>
            <div class="button_div">
                <button class="btn cart-button" data-productId="{{ product.id }}" data-action="add"
                    onclick="editCart(this)">Add to Cart</button>
            </div>
        </div>

        {% endfor %}

    </div>
</section>

{% endblock content %}