/*
    This stylesheet focuses on the main styles of the overall website.
*/

/*  -------------------------
    FEATURED PRODUCT SECTION
    ------------------------- */
.featured_product_item_section .product_item {
    width: 90%;
}

/*  ------------------------------------
    FEATURED PRODUCT CATEGORIES SECTION
    ------------------------------------ */
.featured_categories_list {
    justify-content: center;
    display: flex;
}

.featured_categories_list li {
    margin: 25px 15px;
}

.featured_categories_list li a {
    border: 1px solid white;
    border-radius: 20px;
    padding: 20px;
}

/* ---------------
    LAPTOP STYLES
   --------------- */
@media screen and (min-width: 620px) {

}

/* ----------------
    DESKTOP STYLES
   ---------------- */
@media screen and (min-width: 1200px) {

}