.side-filter .title {
    text-align: center;
    border-bottom: 1px solid white;
}

.product_section {
    justify-content: center;
    margin: 5px auto 20px;
}

.card {
    background: rgb(0, 100, 0);
    border: 10px solid #1e1e1e; /* Better solution to add a gap between cards? */
}

.button_div {
    margin: 0px auto 20px;
}

.product_item_category {
    display: none;
}

/* -----------------------------
    SEARCH BAR AND INPUT/FILTER STYLES
   ----------------------------- */
.search {
    text-align: center;
    margin: 20px 0 0;
}

.filter-button {
    margin: 0 10px;
}

.search-bar {
    width: 50%;
    border: 1px solid black;
    border-radius: 18px;
    padding: 10px;
}

.side-filter {
    display: none;
}

input[type="checkbox"], label {
    cursor: pointer;
}

/* ---------------
    MEDIUM STYLES
   --------------- */
@media screen and (min-width: 768px) {
    .product_item_category {
        display: block;
    }

    .filter-button {
        display: none;
    }

    .side-filter {
        display: block;
        padding-left: 25px;
    }
}