/*
    This stylesheet focuses on the main styles of the overall website.
*/

/* Universal Specific Styles */
@import "navigation.css";
@import "buttons.css";
@import "forms.css";
@import "tables.css";
@import "main-section.css";

/* Universal Animations */
@import "animations.css";

:root {
    --primary-background: #E7E0E7;
}

@font-face {
    font-family: "Archivo-Regular";
    src: url("../fonts/Archivo-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--primary-background);
    color: black;

    font-family: "Archivo-Regular";
    font-size: 1.2em;

    text-align: center;
}

/* MISC UNIVERSAL STYLES */
.page-title {
    border-bottom: 2px solid black;
    margin: 5px auto;
    padding: 10px;
}