/*
    This stylesheet focuses on the main styles of the overall website.
*/

:root {
    --primary-background-color: #1e1e1e;

    --primary-text-color: rgb(220, 220, 220);
}

@font-face {
    font-family: 'Archivo-Regular';
    src: url('../fonts/Archivo-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: var(--primary-background-color);
}

.container-fluid {
    background: var(--primary-background-color);
    color: var(--primary-text-color);

    font-family: 'Archivo-Regular';
    font-size: 1.1em;
}

/* -------------
    TEXT/LIST STYLES
   ------------- */
header h1, h2 {
    display: block;
}

.title {
    margin: 15px;
}

a, .dropdown-item {
    color: cyan;
    font-size: 1.2em;
}

a:hover {
    color: yellow;
}

.i {
    font-size: 1.5em;
}

ul {
    list-style: none;
}

/* ---------------------
    OVERALL LAYOUT TAGS
   --------------------- */
header {
    padding: 15px;
}

/* ------------------------------
    TOP/FOOTER NAVIGATION STYLES
   ------------------------------ */
.desktop-nav {
    display: none;
}

.mobile-nav {
    display: flex;
}

.account-nav {
    border-top: 1px solid white;
    padding: 0 1rem;
}

nav ul li {
    margin: 0px 5px;
}

/*  ------------
    FORM STYLES
    ------------ */
.form {
    border-bottom: 1px solid white;
    text-align: center;
}

/* ---------------
    MEDIUM STYLES
   --------------- */
@media screen and (min-width: 768px) {
    /* -----------------------------------
    TOP/FOOTER NAVIGATION STYLES (MEDIUM)
   --------------------------------------- */
    .mobile-nav {
        display: none;
    }

    .desktop-nav {
        display: flex;
    }
}