{% extends 'base.html' %}

{% block content %}

<section class="main-section create-login-forms">
    <div class="account-forms">
        <div>
            <h3 class="account-section-title">Login</h3>

            <form action="{% url 'login_account' %}" method="POST">
                {% csrf_token %}


                <div>
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" placeholder="Username" required>
                </div>

                <div>
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="Password" required>
                </div>


                <input class="btn" type="submit" value="Login">

            </form>
        </div>
        <div>
            <h3 class="account-section-title">Register an Account</h3>

            <form action="{% url 'create_account' %}" method="POST">
                {% csrf_token %}


                <div>
                    <label for="fn">First Name</label>
                    <input type="text" id="fn" name="first_name" placeholder="First Name">
                </div>

                <div>
                    <label for="ln">Last Name</label>
                    <input type="text" id="ln" name="last_name" placeholder="Last Name">
                </div>



                <div>
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" placeholder="Enter your email">
                </div>

                <div>
                    <label for="new_username">Username</label>
                    <input type="text" id="new_username" name="username" placeholder="Create Username" required>
                </div>

                <div>
                    <label for="new_password">Password</label>
                    <input type="password" id="new_password" name="password" placeholder="Create Password" required>
                    <input type="password" name="password_retyped" placeholder="Retype Password" required>
                </div>


                <input class="btn" type="submit" value="Sign Up">
            </form>
        </div>
    </div>
</section>
{% endblock %}