{% extends 'base.html' %}

{% block content %}

<h2 class="dashboard-title">Account Overview for {{ user.username }}</h2>

<div class="row">
    <section class="col col-12 col-md-6">

        <h3>Account Information</h3>

        <form class="row" action="{% url 'account_info_change' request.user.username 'account_credentials' %}" method="POST">
            {% csrf_token %}

            <div class="col col-6">
                <div class="form-group">
                    <label for="user_fn">First Name:</label>
                    <input type="text" class="form-control" id="user_fn" name="first_name"
                        value="{{ user.first_name }}">
                </div>
            </div>

            <div class="col col-6">
                <div class="form-group">
                    <label for="user_ln">Last Name:</label>
                    <input type="text" class="form-control" id="user_ln" name="last_name" value="{{ user.last_name }}">
                </div>
            </div>

            <div class="col col-12">
                <div class="form-group">
                    <label for="user_email">Email:</label>
                    <input type="email" class="form-control" id="user_email" name="email" value="{{ user.email }}">
                </div>
            </div>

            <div class="col col-12">
                <div class="form-group">
                    <input type="button" class="btn btn-primary" value="Edit">
                    <input type="submit" class="btn btn-warning" value="Save">
                </div>
            </div>

        </form>
    </section>

    <section class="col col-8 col-md-6">

        <h3>Billing and Shipping Address</h3>

        <form action="{% url 'account_info_change' request.user.username 'account_billing' %}" method="POST">
            {% csrf_token %}

            <div class="form-group">
                <label for="user_address_1">Address Line 1</label>
                <input type="text" class="form-control" id="user_address_1" name="address_line_1"
                    value="{{ customer.address_line_1 }}">
            </div>

            <div class="form-group">
                <label for="user_address_2">Address Line 2</label>
                <input type="text" class="form-control" id="user_address_2" name="address_line_2"
                    value="{{ customer.address_line_2 }}">
            </div>

            <div class="row">
                <div class="col form-group">
                    <label for="">City</label>
                    <input type="text" class="form-control" id="" name="city" value="{{ customer.city }}">
                </div>

                <div class="col form-group">
                    <label for="">State</label>
                    <input type="text" class="form-control" id="" name="state" value="{{ customer.state }}">
                </div>

                <div class="col form-group">
                    <label for="">Zipcode</label>
                    <input type="text" class="form-control" id="" name="zipcode" value="{{ customer.zipcode }}">
                </div>
            </div>

            <div class="form-group">
                <input type="button" class="btn btn-primary" value="Edit">
                <input type="submit" class="btn btn-warning" value="Save">
            </div>

        </form>
    </section>

    <section class="col col-12">
        <h3>Other Settings and Information</h3>

        <input class="btn btn-info" type="button" value="Request my Data">
        <input class="btn btn-danger" type="button" value="Delete my Account">
    </section>
</div>
{% endblock content %}