{% extends 'base.html' %}

{% block content %}

<h2 class="page-title">Order #{{ order.id }}</h2>

<section class="main-section">

    <div>
        <h4>Order Date: {{ order.order_date }}</h4>
    </div>

    <div>
        <h4>Status: {{ order.get_status_display }}</h4>
    </div>


    <table>
        <tbody>
            <tr>
                <th>Items</th>
                <th>Material/Color</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>

            {% for item in items_in_order %}

            <tr>
                <td>{{ item.product }}</td>
                <td>N/A</td>
                <td>${{ item.price }}</td>
                <td>{{ item.quantity }}</td>
            </tr>

            {% endfor %}

            <tr>
                <td></td>
                <td></td>
                <td>${{ order.total_price }}</td>
                <td></td>
            </tr>
        </tbody>
    </table>

    {% if order.status == 'OR' %}

    <a class="btn-a" href="{% url 'account_cancel_order' order.id %}">Cancel Order</a>

    {% endif %}
</section>

{% endblock %}