{% extends 'base.html' %}

{% block content %}

<h2 class="page-title">Order List</h2>

<section>
    <table>
        <tbody>
            <tr>
                <th>Order #</th>
                <th>Order Date</th>
                <th>Status</th>
                <th></th>
            </tr>

            {% for order in orders %}

            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.order_date }}</td>
                <td>{{ order.get_status_display }}</td>
                <td>
                    <a href="{% url 'account_view_order' order.id %}">
                        <i class="far fa-eye"></i>
                    </a>
                </td>
            </tr>

            {% endfor %}
        </tbody>
    </table>
</section>

{% endblock %}