{% extends 'base.html' %}
{% load static %}

{% block content %}

<h2 class="page-title">Account Overview for {{ user.username }}</h2>

<section class="main-section">
    <div class="account-forms">
        <div>
            <h3 class="account-section-title">Account Information</h3>

            <form action="{% url 'account_info_change' 'account_credentials' %}" method="POST">
                {% csrf_token %}
                <div>
                    <label for="user_fn">First Name:</label>
                    <input type="text" class="form-control user-basic-info" id="user_fn" name="first_name"
                        value="{{ user.first_name }}" disabled>
                </div>


                <div>
                    <label for="user_ln">Last Name:</label>
                    <input type="text" class="form-control user-basic-info" id="user_ln" name="last_name"
                        value="{{ user.last_name }}" disabled>
                </div>



                <div>
                    <label for="user_email">Email:</label>
                    <input type="email" class="form-control user-basic-info" id="user_email" name="email"
                        value="{{ user.email }}" disabled>
                </div>



                <div class="form-button-group">
                    <input type="button" class="btn" value="Edit" onclick="editInformation('user-basic-info')">
                    <input type="submit" class="btn user-basic-info" value="Save" disabled>
                </div>


            </form>
        </div>
        <div>
            <h3 class="account-section-title">Billing and Shipping Address</h3>

            <form action="{% url 'account_info_change' 'account_billing' %}" method="POST">
                {% csrf_token %}

                <div>
                    <label for="user_address_1">Address Line 1</label>
                    <input type="text" class="user-address-info" id="user_address_1" name="address_line_1"
                        value="{{ customer.address_line_1 }}" disabled>
                </div>

                <div>
                    <label for="user_address_2">Address Line 2</label>
                    <input type="text" class="user-address-info" id="user_address_2" name="address_line_2"
                        value="{{ customer.address_line_2 }}" disabled>
                </div>


                <div>
                    <label for="user_city">City</label>
                    <input type="text" class="user-address-info" id="user_city" name="city" value="{{ customer.city }}"
                        disabled>
                </div>

                <div>
                    <label for="user_state">State</label>
                    <input type="text" class="user-address-info" id="user_state" name="state"
                        value="{{ customer.state }}" disabled>
                </div>

                <div>
                    <label for="user_zipcode">Zipcode</label>
                    <input type="text" class="user-address-info" id="user_zipcode" name="zipcode"
                        value="{{ customer.zipcode }}" disabled>
                </div>


                <div class="form-button-group">
                    <input type="button" class="btn" value="Edit" onclick="editInformation('user-address-info')">
                    <input type="submit" class="btn user-address-info" value="Save" disabled>
                </div>

            </form>
        </div>
    </div>
    <div>
        <h3 class="account-section-title">Other Settings and Information</h3>

        <input class="btn" type="button" value="Request my Data">
        <input class="btn" type="button" value="Delete my Account">
    </div>
</section>
{% endblock content %}