{% extends 'base.html' %}

{% block content %}

<h2 class="dashboard-title">Dashboard for {{ user.username }}</h2>

<div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3">

    <section class="col dashboard-section">

        <h3>Account Info</h3>

        <form class="row" action="" method="POST">

            <div class="col col-12 col-sm-4 col-lg-6 form-group">
                <label for="user_fn">First Name:</label>
                <input type="text" class="form-control" id="user_fn" value="{{ user.first_name }}" disabled>
            </div>

            <div class="col col-12 col-sm-4 col-lg-6 form-group">
                <label for="user_ln">Last Name:</label>
                <input type="text" class="form-control" id="user_ln" value="{{ user.last_name }}" disabled>
            </div>

            <div class="col col-12 col-sm-4 col-lg-12 form-group">
                <label for="user_email">Email:</label>
                <input type="email" class="form-control" id="user_email" value="{{ user.email }}" disabled>
            </div>

            <div class="col col-12 form-group">
                <input class="btn btn-primary" type="button" value="Edit">
                <input class="btn btn-primary" type="submit" value="Save" disabled>
            </div>

        </form>

        <a class="btn btn-info detailed-link" href="{% url 'account_info' user.username %}">Edit Account
            Info</a>
    </section>

    <section class="col dashboard-section">

        <h3>Recent Orders</h3>

        {% if orders.count != 0 %}

        <table class="table table-dark table-hover">
            <tr>
                <th scope="col">Order #</th>
                <th scope="col">Order Date</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
            </tr>

            {% for order in orders %}

            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.order_date }}</td>
                <td>{{ order.get_status_display }}</td>
                <td>
                    <a href="{% url 'account_view_order' request.user order.id %}">
                        <i class="far fa-eye text-info"></i>
                    </a>
                </td>
            </tr>

            {% endfor %}

        </table>

        <a href="{% url 'account_orders' request.user %}" class="btn btn-info detailed-link">View Order History</a>

        {% else %}

        <p>No orders to display</p>

        {% endif %}
    </section>

    <section class="col dashboard-section">

        <h3>Cart Overview</h3>

        {% if price_of_cart != 0 %}

        <table class="table table-dark table-hover">
            <tr>
                <th>Items</th>
                <th>Price</th>
                <th></th>
            </tr>

            {% for product in products_in_cart %}
            <tr>
                <td>{{ product.name }}</td>
                <td>${{ product.price }}</td>
                <td>
                    <a href="{% url 'products_remove_from_cart' product.id forloop.counter0 %}" class="btn btn-sm">
                        <i class="fas fa-minus-circle text-danger"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}

            <tr>
                <td></td>
                <td>${{ price_of_cart }}</td>
                <td></td>
            </tr>

        </table>

        {% else %}

            <p>No Items in Cart</p>
            
        {% endif %}

        <a class="btn btn-info detailed-link" href="{% url 'account_cart' request.user %}">View Cart</a>
    </section>

</div>

{% endblock %}