{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Project Amenity | {{ title }}</title>

    <!-- 3rd Party Stylesheets -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- 3rd Party Javascripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/6e50bb18f1.js" crossorigin="anonymous"></script>

    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/site.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/products.css' %}">

    <!-- Scripts -->
    <script src="{% static 'js/filter.js' %}"></script>
</head>

<body>
    <div class="container-fluid">

        <header>
            <h1>Project Amenity</h1>
            <h2>All your home furnishing needs.</h2>
        </header>

        <nav class="navbar bg-dark">

            <ul class="nav desktop-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'products' %}">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Support</a>
                </li>
            </ul>

            <ul class="nav justify-content-center mobile-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">
                        <i class="fas fa-home"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'products' %}">
                        <i class="fas fa-store"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">
                        <i class="fas fa-user"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">
                        <i class="fas fa-question"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                </li>
            </ul>

        </nav>

        <main>
            <!-- Dynamic Content, (Changes from page to page)-->
            {% block content %}

            {% endblock %}
        </main>

        <footer>

            <section>
                <!-- Small Footer Links -->
            </section>
            
            <section>
                <p>
                    <small>Justin Acevero &copy; 2020</small>
                </p>
            </section>

        </footer>
    </div>
</body>

</html>