{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Project Amenity</title>


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css"
        integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'css/site.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'amenity/css/amenity.css' %}">
    <link rel="stylesheet" href="{% static 'accounts/css/account.css' %}">

    {% block stylesheets %}

    {% endblock stylesheets %}
</head>

<body>
    <div class="container">

        <nav class="site-nav">
            <i class="fas fa-times nav-menu"></i>
            <ul class="nav-list">
                <li>
                    <a href="{% url 'home' %}">Home</a>
                </li>
                <li>
                    <a href="{% url 'products' %}">Products</a>
                </li>
                <li>
                    <a href="#">Ideas</a>
                </li>

                {% if request.user.is_authenticated %}

                <li>
                    <a href="{% url 'logout_account' %}">Logout</a>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'login_page' %}">Sign Up</a>
                </li>

                {% endif %}
            </ul>
        </nav>

        <header>
            <a href="{% url 'home' %}">
                <h1 class="header-company-name">Project Amenity</h1>
            </a>
            <div class="header-icons">
                <a href="{% url 'login_page' %}"><i class="fas fa-user"></i></a>
                <a href="{% url 'account_cart' %}"><i class="fas fa-shopping-cart"></i></a>
                <i class="fas fa-bars nav-menu" data-nav-action="open"></i>
            </div>
        </header>

        <main>
            {% block content %}
            <!-- Dynamic Content, (Changes from page to page)-->
            {% endblock content %}
        </main>

        <footer>

            <section>
                <!-- Small Footer Links -->
            </section>

            <section>
                <p>
                    <small>Justin Acevero &copy; 2020</small>
                </p>
            </section>

        </footer>
    </div>

    <!-- 3rd Party Javascripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Scripts -->
    <script src="{% static 'js/navigation.js' %}"></script>
    <script src="{% static 'js/products.js' %}"></script>

    {% block scripts %}

    {% endblock scripts %}
</body>

</html>